// -----------------------------------------------------------------------------
// Cards
// -----------------------------------------------------------------------------
.card {
	height: 100%;
	padding-top: 1em;
	border-radius: $global-radius;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
	&__image {
		width: auto;
		height: 200px;
		padding: 1em;
		margin: 0 auto 2.4rem;
		border-radius: $global-radius;
		text-align: center;
	}
}
