// -----------------------------------------------------------------------------
// This file contains the settings for a full-page section (90% of view height)
// -----------------------------------------------------------------------------

.section {
	width: 100%;
	height: 100vh;

	&__content {
		padding-top: 6vh;

		&--white {
			background: $white;
		}

		&--blue {
			background: $color-primary;
		}
	}
}
